html{
	width: 100%;
}
body{
	width: 100%;
	padding-top: 2%;
	text-align: left;
	background: linear-gradient(-45deg,#ee7752,#e73c7e,#23a6d5,#23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	margin: 0%;
}

 @keyframes gradient{
	0%{
		background-position: 0% 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0% 50%;
	}
}

#display {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

#productImage {
	float: left;
	height: 25vw;
	width: 42vw;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	display: inline-block;
	image-rendering:auto;
 	image-rendering:crisp-edges;
  	image-rendering: pixelated;
}

#productDescription {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	display: inline-block;
	font-size: 19px;
}

#descriptionTable td {
	width: 150px;
}

.newbtns{
	font-style: oblique;
	font-family:'Times New Roman', Times, serif;
	font-weight: bolder;
	border: none;
	border-radius: 9%;
	background-color: rgb(206, 228, 13);
	color: rgb(5, 5, 5);
	padding: 15px 12px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
}
.newbtns:hover{
	background-color: rgba(11, 11, 14, 0.904);
	color: hsla(44, 88%, 49%, 0.842);
}
.datacss{
	font-size: 115%;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.title{
	font-family:'Times New Roman', Times, serif;
}
.titlecss{
	font-weight: normal;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}