<html>
<head>
<title>Contact</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href={{ url_for('static', filename='css/info.css') }} />
</head>
<body>
	<div class="passdisplay">
		<div class="passedit">
        <div class="profiletitle">Contact Us</div>
        <div class="inputs">
	<p><i class="material-icons">phone</i>Contact No<p class="inp">+91-9509796207</p></p>
	<p><i class="material-icons">email</i>E-mail Us<p class="inp">priyanshu.sha56@gmail.com</p></p>
	<p><i class="material-icons">place</i>Address<p class="inp">Jaipur,Rajasthan-302031</p></p>
</div>
	</div>
</body>
</html>


