<html>
<head>
<title>Change Password</title>
<link rel="stylesheet" href={{ url_for('static', filename='css/ProfileEdit.css') }} />
<script src={{ url_for('static', filename='js/ChangePass.js') }}></script>
</head>
<body>
	<div class="passdisplay">
		<div class="passedit">
        <div class="profiletitle">Password Change</div>
        <div class="inputs">
<form action={{ url_for('changePassword') }} method="POST" onsubmit="return validate()">
	<p>Old Password<input class="inp" type="password" name="oldpassword"></p>
	<p>New Password <input class="inp" type="password" name="newpassword" id="newpassword"></p>
	<p>Confirm Password <input class="inp" type="password" name="cpassword" id="cpassword"></p>
	<button class="inpbutton" type="submit">SAVE</button>
</form>
<a href="{{ url_for('profileHome') }}"><button class="inpbutton">Go to Profile</button></a>
</div>
<p>{{ msg }}</p>
	</div>
</body>
</html>


