<!DOCTYPE HTML>
<html>
<head>
<title>Product Description</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link rel="stylesheet" href={{url_for('static', filename='css/ProductDescription.css')}} />
<link rel="stylesheet" href={{ url_for('static', filename='css/TopStyle.css')}} />
</head>
<body>
<!--************************************************  -->
<div id="title">
	<a href="/">
		<img id="logo" src= {{ url_for('static', filename='images/WebsiteIcon.png') }} />
	</a>
	<div class="search">         
		<form>
			<input type="text" name="search" placeholder="Search..">
			<button>
				<i class="fa fa-search"
					style="font-size: 18px;">
				</i>
			</button>
		</form>
	</div>
	<div id="kart">
		<a class="link" href="/cart"><button class="newbtn">
			<img src={{url_for('static', filename='images/CartImage.png')}} id="cartIcon" />
			CART {{noOfItems}}</button>
		</a>
	</div>
		{% if not loggedIn %}
	<div id="signInButton">
		<a class="link" href="/loginForm">Sign In</a>
	</div>
	{% else %} 
	<div class="dropdown">
		<button class="dropbtn">Welcome<br>{{firstName}}</button>
		<div class="dropdown-content">
			<a href="/account/orders">Your orders</a>
			<a href="/account/profile">Your profile</a>
			<hr>
			<a href="/logout">Sign Out</a>
		</div>
	</div>
	{% endif %}
	<ul class="ultype">  
		<li class="litype"><a href="/"> Home </a></li>
		<li class="litype"><a href="/about"> About </a></li>   
		<li class="litype"><a href="/contact"> Contact </a></li>
		<li class="litype"><a href="/yourdesigns">Your Designs</a></li> 
	</ul>
</div>
<!--  ***************************************-->
<div id="display">
	<div id="productName">
		<h1>{{data[1]}}</h1>
	</div>
	<div>
		<img src={{url_for('static', filename='uploads/'+data[4]) }} id="productImage"/>
	</div>

	<div id="productDescription">
		<h2 class="titlecss">Details</h2>
		<table id="descriptionTable">
			<tr class="datacss">
				<td class="title">Name<br>(License)</td>
				<td>{{data[1]}}</td>
			</tr>
			<tr class="datacss">
				<td class="title">Price</td>
				<td>${{data[2]}}</td>
			</tr>
			<tr class="datacss">
				<td class="title">Stock</td>
				<td>{{data[5]}}</td>
			</tr>
		</table>
		<h2 class="titlecss">Description</h2>
		<p>{{data[3]}}</p>
	</div>
	<div id="addToCart">
		<a class="newbtns" href="/addToCart?productId={{request.args.get('productId')}}">ADD TO CART</a>
	</div>
</div>
</body>
</html>

